/* Add this to your CSS file or style tag in your component */
@media screen and (max-width: 767px) {
  /* Adjust styles for screens with a width of 767px or smaller */
  .bd-hero__content h2 {
    font-size: 24px; /* Adjust the font size for better readability on smaller screens */
  }
}


/* Media Query for Mobile View */
@media screen and (max-width: 600px) {
  .slideMob {
    /* Adjust background image size or any other styles for mobile view */
    background-size: contain !important;
    margin-bottom: 20px;
  }

  .imgMob {
    /* Adjust image size for mobile view */
    height: 100px;
    width: 125px;
  }

  .headMob{
    font-size:50px !important;
    line-height: normal !important;
    text-align: center;
  }

  .btns {
    margin-bottom: 50px;
  }
}

/* Media Query for Mobile View */
@media screen and (max-width: 330px) {
 .shop_now{
   margin-bottom: 147px !important;
 }
}
