/* naMa.module.css */

/* Default styles */
 /* Replace with the actual font family */
  
  /* Media queries */
  /* @media (max-width: 1200px) {
    .naMa {
      font-size: 110px;
      line-height: 100px;
    }
  }*/
  

  
  @media screen and (max-width: 767px) {
    .img1 {
      font-size: 24px; 
       width: 168px;
     height: 122px;
    margin-top: 51px;
    }
  }

  @media screen and (max-width: 600px) {
    .logo{
      width: 205px;
    }
  }

  @media screen and (max-width: 325px) {
    .logo{
      width: 170px;
    }
  }

  @media screen and (max-width: 428px) {
  .headLogo{
      margin-top: 0px !important;
    }
  }
  
  

  


  