/* naMa.module.css */

/* Default styles */
 /* Replace with the actual font family */
  
  /* Media queries */
  /* @media (max-width: 1200px) {
    .naMa {
      font-size: 110px;
      line-height: 100px;
    }
  }*/
  

  
  @media screen and (max-width: 767px) {
    .img1 {
      font-size: 24px; 
       width: 168px;
     height: 122px;
    margin-top: 51px;
    }
  }
  


  